*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 
.back
{
    border: 2px solid blue;
    width: 70%;
    border-bottom: 5px dashed red;
}
html
{
    scroll-behavior: smooth;
} */

/* ======================================================================================================================================== */

                                                    /* overflow properties  */

/* 
div
{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space:nowrap;
} */


/* =======================================================  Positions  ==============================================================================*/

/* postion properties ma tom-bottom athva left -right values apvi jaroori chhe */

/* #di{
    width: 100px;
    height: 100px;
    background-color: black;
    /* position: relative;
    left: 100px;
    top:100px; */
    /* position: absolute;
    top: 150px;
    right: 150px; */

/* } */

/* ============================================================  Z - Indedx ===========================================================================*/


/* div
{
    width: 100px;
    height:100px;
    border: 2px solid black;
    position: absolute;
}

#box1 
{
    background-color: red;
   
    top: 100px;
    left: 50px;
    z-index: 1;
    

}
#box2
{
    background-color:yellow;
    
    top: 150px;
    left: 100px;
}

#box3
{
    background-color: green;
  
    top: 200px;
    left: 150px;
} */


/* =============================================================  media query  ==================================================================*/

/* 
body{
    background-color: white;
}

@media screen and (max-width:1000px) {
    body{
        background-color: green;
    }
    
}
@media screen and (max-width:900px) {
    body{
        background-color: red;
    }
} */


/* ===============================================================    Table atribute     ===============================================================*


border-spacing
border-collapse


/* ================================================================   font-sizes      ================================================================ */
/* 
                                                                    px (pixes)
                                                                    % (percentage)
                                                                    em = 16px
                                                                    rem
                                                                    vw (view port width)
                                                                    vh (viewport heigth)
                                                                    vmax (viewport maximum)
                                                                    vmin (viewport minimum) */



/*======================================================================   Transtion  ===================================================================*/

/* properties */ 

/* .back
{
    background-image: url("pexels-pixabay-268533.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    background-attachment:fixed;
    background-attachment:scroll;
} */

p{
    /* text-decoration: underline;
    text-align: center;
    border: 2px solid red; */
    /* text-decoration: overline;           line ni uper liti karava mate  */
    /* text-decoration: line-through;       akhi line ma cheko marva mate */
    /* text-transform: uppercase;
    text-transform: capitalize; */

    /* line-height: 10px;      /* be line vachhe space leva mate*/

    /* text-indent: 10px;       paragraph padva mate */
    /* letter-spacing: 2px;        latters vachhe spavce apva mate */ 
    /* word-spacing: 50px; */
}

a{
    /* text-decoration: none;        under line kadhva */

}

                                /* four types of links */
/* 
a:link{
    color: blue;
}
a:visited{
    color: dark blue;

}
a:hover
{
    color: red;
}
a:active{
    color: green;
} */


/*================================================= Imges Filter ATTRIBUTES ===================================================*/  

img{
    /* filter: blur(10px); */
    /* filter: brightness(20%); */
    /* filter: contrast(17%); */
    
}


                                                /* Variables banavva mate  */
/* 
            :root{
                --primary-color: red;
                --btn-color: grey;
                --text-color: black;

            } */
p{
    /* background-color: var(--primary-color);            (Funtions) */
    /* height: 200px; */
}



                                                         /* Pseudo-classes  */
/* 
li:nth-child(){
    color: red;
}
li:first-child{
    color: green;
}
 input:focus{
  
    border: 5px solid green
 } */


                                                         /* Pseudo-classes  */


/* p::first-letter{
    font-size: 35px;
    color: red;
}
h1::before{
    content: "Na hoy!";
}
h1::after
{
    content: "Helo Welcome";
}
::selection{
    background-color: yellow;
} */


                                                            /* Display Property */
.a{
    /* border: 2px solid red; */
    /* height: 50px;
    width: 20%; */
    /* display: inline-block;       
    display: block;
    display: inline;                                      */
}



                                                                /* Flex Box */


.parent{
    /* background-color: black;
    display: flex; */
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */
    /* flex-direction: row-reverse; */
    /* flex-wrap: nowrap;            <--------      jetli width hoy emamthi automatic set thay jay chhe */
    /* flex-wrap: wrap;              <-------     ama width adjust nay thay */
    /* justify-content: center; */
    /* justify-content: space-around; */
    /* justify-content: flex-start; 
    justify-content: flex-end; */
    /* justify-content: space-around; */
    /* justify-content: space-between; */

}
/* .child
{
    background-color: wheat;
    margin: 20px;
    padding: 20px;
    text-align: center;
    width: 200px;
} */




                                                                        /* Website CSS Styling*/
                                                                        
/* 
html{
    font-size: 62.5%;
}
.back-img{
    height: 95vh;
    background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) ,url("./images/canyon-1740973_1920.jpg");
    background-position: top;
    background-repeat: no-repeat;
    position: relative;
}
.nav
{
    padding-top: 1.6rem;
}
.nav .logo
{
    color:white;
    float: left;
    margin-top: 1.6rem;
    font-size: 1.9rem;
}
.nav .nav-items{
    float: right;
   
}
.nav::after
{
    content: '';
    display: block;
    clear: both;
}
.nav .nav-items .nav-item
{
    color: white;
    display: inline-block;
    margin: 10px;
}
ul li{
    list-style: none ;
}
a{
    font-size: 1.6rem;
    text-decoration: none;
    text-transform: uppercase;
}

li{
    font-size: 1.6rem;
    margin-bottom: 0.5em;
}
.container
{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}
.nav-item:hover{
    
        border-bottom: 2px solid white;
}

.heading
{
    color: white;
    font-size: 2.5rem;
    text-transform: uppercase;
}
.details{
    color: white;
    font-size: 1.5rem;
    text-transform: uppercase;
}
.btn
{
    display: inline-block;
    padding: 0.5em 1.5em;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0.5em 0;
    background-color: white;
    color: red;
    border-radius: 100px;
}
.content
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    
}
.showcase{
    background-color: gray;
    padding:10rem 0;

}
.row{
    height: 300px;
   
}
.row1{
    margin-bottom: 10rem;

}
.row1 .img-box, .row2 .text-box{
    float: left;
    width: 50%;
}
.row2 .img-box, .row1 .text-box{
    float: right;
    width: 50%;
}
.row .img-box{
   
    height: 100%;

}
.row .text-box{
  
    padding: 3rem;
}
img{
    display: inline-block;
    width: 100%;
    height: 100%;
    
}
.p{
    font-size: 1.6rem;
    margin-top: 3rem;
}
.btn:hover{
   background-color: black

}
.features
{
    padding: 10rem 0;
    height: 45vh;
}

.box
{
    width: 32.33333333%;
    float: left;
    border: 2px solid black;
    padding: 2rem;
    text-align: center;
    margin-bottom: 5rem;
    box-shadow: 5px 5px 20px 0px rgba(0,0,0,1);
}
.md-heading
{
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: aliceblue;
    font-family: Arial black;
}
.p2{
    font-size:1.2rem;
}
.box-1, .box-3
{
    background-color:#2f3d44;
}
.box-2
{
    background-color: rgb(98, 58, 134);
}
.footer
{ 
    background-color: gray;
    padding: 3rem;
    
}
.social-links
{
   text-align: center;
   letter-spacing: 1.6em;
   
}
span
{
    text-align: center;
    position: relative;
    float: center;
}
.about
{
    padding: 5rem 0;
}
.title
{
    font-size: 2.5rem;
    font-family: Arial Black;
    margin-bottom: 1.5em;
}
.title::after{
    content: '';
    display: block;
    border: 3px solid rgb(250, 49, 14);
}
.about-wrapper
{
    
    text-align: center;
  
}

.about-wrapper::after{
    content: '';
    display: block;
    clear: both;
}
.about-wrapper .left
{
    float: left;
    width: 50%;
    
}
.about-wrapper .right
{
    float: right;
    width: 50%;
    
}
.p3
{
    font-size: 1.3em;
    font-family: 'Courier New', Courier, monospace;
    padding-bottom: 2.5em;
}
.about-wrapper li::before
{
    content: '\2713';
    color: red;
    font-weight: bold;
    padding-right: 1rem;
}
.counts::after{
    content: '';
    display: block;
    clear: both;
}

.count-item
{
    
    width: 25%;
    float: left;
    text-align: center;
    margin-top: 3rem;
}
.count-item span
{
    font-size: 2.7rem;
    font-weight: 900;
    color: rgb(201, 47, 26);
}
.p4
{
    font-size: 1.4rem;
    font-weight: bold;
    color: #2f3d44;
    display: block;
    margin-bottom:2rem;
    text-decoration: underline;
}

.cta-banner
{
    background:linear-gradient(25deg, #d64c7f, #ee4758 50%);
    color: white;
    padding:1rem;
    box-shadow: 5px 5px 10px black; 
    margin-top: 1.6rem;
    font-size: 1.6em;
    
}

.cta-banner::after{
    content: '';
    display: block;
    clear: both;
}

.cta-banner-left{
    float: left;
}

.cta-banner-right{
    float: right;
}

.btn-cta
{
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    border: 2px solid white;
    letter-spacing: 0.5em;
    color: #f4f4f4;

} */

.parent
{
    background-color: black;
    border: 2px solid red;
    display: flex;
    /* flex-direction: column; */
    /* flex-direction: row-reverse; */
    /* flex-direction:column-reverse ; */
    /* flex-wrap: wrap;                               Width api shakay chhe */
    /* flex-wrap: wrap-reverse; */
    /* justify-content: space-between;        fisrt & last elements ma space na ave   */
    /* justify-content: space-around;         badhay element ma sarkhi space ave  */
    /* justify-content: space-evenly; */
    justify-content: space-between;
    align-items: center;
    height: 700px;




   
    

}
.child1
{
    background-color: red;
    margin: 20px;
    padding: 20px;
    text-align: center;
    width: 300px;
   /* align-self: flex-start;                         ek element ne self align apva mate */
}
.child2
{
    background-color: yellow;margin: 20px;
    padding: 20px;
    text-align: center;
    width: 300px;  
    
    align-self: center;
    
}
.child3
{
    background-color: green;margin: 20px;
    padding: 20px;
    text-align: center;
    width: 300px;
    align-self: flex-end;
}.child4
{
    
    background-color: rgb(128, 0, 90);margin: 20px;
    padding: 20px;
    text-align: center;
    width: 300px;
}
.child5
{
     
    background-color: rgb(0, 128, 128);margin: 20px;
    padding: 20px;
    text-align: center;
    width: 300px;
}
